{{ $taxonomy := "tags" }}
{{ $tags := .Params.tags | default (slice) }}
{{ if gt (len $tags) 0 }}
<div class="flex justify-center">
  {{ range $index, $tag := $tags }}
    {{ $tagPage := site.GetPage (printf "tags/%s" (urlize $tag)) }}
    {{ if $tagPage }}
      <a class="no-underline bg-primary-100 hover:bg-primary-300 text-primary-800 text-xs font-medium mr-2 px-2.5 py-0.5 lg:px-5 lg:py-2 rounded dark:bg-primary-900 dark:hover:bg-primary-700 dark:text-primary-300" href="{{ $tagPage.RelPermalink }}">{{ $tagPage.LinkTitle }}</a>
    {{ else }}
      <span class="no-underline bg-primary-100 hover:bg-primary-300 text-primary-800 text-xs font-medium mr-2 px-2.5 py-0.5 lg:px-5 lg:py-2 rounded dark:bg-primary-900 dark:hover:bg-primary-700 dark:text-primary-300">{{ $tag }}</span>
    {{ end }}
  {{ end }}
</div>
{{ end }}
